<footer id="footer">
  <span class="copyrights">
    All Rights Reserved &copy; <%= date(new Date(), 'YYYY') + '.' %> Developed
    and designed with
    <a
      href="https://github.com/laureladastra/laureladastra-homepage"
      target="_blank"
    >
      with love
    </a>
    🌹
  </span>
</footer>
