@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"),
    local("OpenSans"),
    url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3SZ2oysoEQEeKwjgmXLRnTc.ttf)
      format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url(https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzJS3E-kSBmtLoNJPDtbj2Pk.ttf)
      format("truetype");
}

@font-face {
  font-family: "Menlo Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Menlo Regular"),
    url("Menlo-Regular.ttf") format("truetype"),
    url("Menlo-Regular.woff") format("woff"),
    url("Menlo-Regular.woff2") format("woff2");
}
